  @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:wght@300;400;500;700&display=swap');

  * {
    box-sizing: border-box;
    font-family: "Ubuntu";
    margin: 0;
    padding: 0;
  } 

  html {
    scroll-behavior: smooth;
  }

  .header-cont{
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
  }

  .header-cont header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  }

  .header-cont header .logo a{
    font-family: "Ubuntu";
    font-size: 36px;
    color: #71e6e6;
    text-decoration: none;
  }

  .header-cont header ul {
    display: flex;
    list-style: none;
  }  

  .header-cont header nav ul li a {
    text-align: center;
    color: white;
    margin: 0 15px;
    padding: 3px;
    transition: .4s;
    text-decoration: none;
  } 

  .header-cont header nav ul li a:hover {
    color: #71e6e6;
  }

  .font-bars{
    background-color: #4ea1a1;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
  }


.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8),rgba(30,35,38,1)),
    url(/assets/img/wallpaper.jpeg);
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
}

.inicio .banner-cont {
    padding: 20px;
    background-color: black;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .banner-cont img {
    margin-top: 40px;
    border: 10px solid #4ea1a1;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .banner-cont h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: "Ubuntu";
}

.inicio .banner-cont h2 {
    font-size: 15px;
    font-weight: normal;
}

.inicio .banner-cont .links-redes a{
    color: white;
    display: inline-block;
    border: 1px solid white;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .banner-cont .links-redes a:hover {
    background-color: #4ea1a1;
}




.sobre-mi {
  background-color: black;
  color: white;
  padding: 50px 20px;
}

.sobre-mi .contenido-seccion {
  max-width: 110px;
  margin: auto;
}

.sobre-mi .contenido-seccion h2 {
  font-size: 48px;
  font-family: "Ubuntu";
  text-align: center;
  padding: 20px 0;
}

.sobre-mi .contenido-seccion p {
  font: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.sobre-mi button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: white;
  z-index: 10;
}

.sobre-mi button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #71e6e6;
  z-index: -1;
  transition: 1s;
}

.sobre-mi button:hover .overlay {
  width: 100%;
}